DryRedirect = false

ExpirationCheckInterval = "60m"
ExpirationDryRun = true

[BlockedHosts]
    Hosts = [
        "gme.sh",
        "github.com"
    ]


[Backends]
    PersistentBackend = "Mongo"
    StatsBackend = "Redis"
    PubSubBackend = "Redis"
    CacheBackend = "Shared"

[WebServer]
    # Address on which the WebServer should listen
    Addr = ":80"

[Database]
    # Mongo, BBolt (embedded)
    Backend = "Mongo"
    EnableSharedCache = true

    # Persistent Database
    [Database.Mongo]
        ApplyURI = "mongodb://127.0.0.1:27017/"
        Database = "gme-sh"
        ShortURLCollection = "short-urls"
        MetaCollection = "meta"
        TplCollection = "tpl"

    # Temporary Database
    [Database.Redis]
        Use = true
        Addr = "127.0.0.1:6379"
        Password = ""
        DB = 0

    # Persistent Database
    [Database.BBolt]
        Path = "dbgoesbrr.db"
        FileMode = 0666
        ShortedURLsBucketName = "stonks-urls"
        MetaBucketName = "meta"
        TplBucketName = "tpl"

    # Persistent Database
    # NOT IMPLEMENTED (yet)
    [Database.Maria]
        Addr = "127.0.0.1:3306"
        User = "user"
        Password = "123456"
        DBName = "stonksdb"
        TablePrefix = ""
